<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My portfolio</title>
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/media_queries.css">
</head>
<body>
    <section id="main-section">
        <div class="main-text">
            <h1>Welcome to my portfolio!</h1>
            <p class="subtitle">Here you will see my main skills</p>
            <button>Continue</button>
        </div>
        <div class="footer">
            <span>
                by
            </span>
            <a href="/" target="_blank" rel="noopener noreferrer">
                João Vitor Mancio Chaves
            </a>
        </div>
    </section>
    <section id="section-bio">
        <div class="title">
            <h1>Who am I?</h1>
        </div>
        <div class="card" id="profile-card">
            <div class="card-image">
                <img src="/images/my_photo.jpg" alt="My photo" />
            </div>
            <div class="card-text">
                <h2>Biography</h2>
                <p class="text-margin">Hi, my name is João Vitor and I am currently studying computer technician at IFSP - Jacareí. 
                    I have knowledge of python, html, css, js, node.js and react.js.</p>
                <h2>Interests</h2>
                <p>I am currently interested in web application development. Being the area that I have the most knowledge. My study is focused on how to make my applications more scalable and efficient.</p>
            </div>
        </div>
    </section>
    <section id="section-skills">
        <div class="title">
            <h1>My skills</h1>
        </div>
        <div id="container-skills" class="container">
            <div class="container-list container-opacity">
                <div class="container-list-item">
                    <div class="container-list-item-image">
                        <img src="/images/js.png" alt="JavaScript Image">
                    </div>
                    <div class="bars">
                        <div class="fullbar">
                            <div id="js-bar"></div>
                        </div>
                        <span class="percent">75%</span>
                    </div>
                </div>
                <div class="container-list-item">
                    <div class="container-list-item-image">
                        <img src="/images/css-3.png" alt="CSS Image">
                    </div>
                    <div class="bars">
                        <div class="fullbar">
                            <div id="css-bar"></div>
                        </div>
                        <span class="percent">60%</span>
                    </div>
                </div>
                <div class="container-list-item">
                    <div class="container-list-item-image">
                        <img src="/images/html-5.png" alt="HTML Image">
                    </div>
                    <div class="bars">
                        <div class="fullbar">
                            <div id="html-bar"></div>
                        </div>
                        <span class="percent">90%</span>
                    </div>
                </div>
                <div class="container-list-item">
                    <div class="container-list-item-image">
                        <img src="/images/python.png" alt="Python Image">
                    </div>
                    <div class="bars">
                        <div class="fullbar">
                            <div id="python-bar"></div>
                        </div>
                        <span class="percent">65%</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="project-section">
        <div class="title">
            <h1>Main projects</h1>
        </div>
        <div id="project-container">
            <div class="container-item container-opacity">
                <h2>Brute Force Attack to Netflix</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum enim eu purus convallis, pellentesque commodo metus accumsan. Mauris tincidunt metus eget felis condimentum suscipit. Proin sodales erat et augue sodales, eu suscipit lacus blandit. Quisque suscipit nisi nec neque mollis varius. Phasellus maximus turpis eget consectetur ornare. Nulla faucibus venenatis congue. Donec lobortis, enim non sodales pharetra, enim libero pulvinar risus, sed pretium nisl est quis nisl. Vivamus a hendrerit massa. Etiam a consectetur sapien.
                </p>
                <a href="https://github.com/JoaoVitorChaves-05/Netflix-bot" target="_blank" rel="noopener noreferrer">
                    Click here to open a repository on the new tab
                </a>
            </div>
            <div class="container-item container-opacity">
                <h2>Lyrics API</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum enim eu purus convallis, pellentesque commodo metus accumsan. Mauris tincidunt metus eget felis condimentum suscipit. Proin sodales erat et augue sodales, eu suscipit lacus blandit. Quisque suscipit nisi nec neque mollis varius. Phasellus maximus turpis eget consectetur ornare. Nulla faucibus venenatis congue. Donec lobortis, enim non sodales pharetra, enim libero pulvinar risus, sed pretium nisl est quis nisl. Vivamus a hendrerit massa. Etiam a consectetur sapien.
                </p>
                <a href="https://github.com/JoaoVitorChaves-05/lyrics-API" target="_blank" rel="noopener noreferrer">
                    Click here to open a repository on the new tab
                </a>
            </div>
            <div class="container-item container-opacity">
                <h2>IFSP research project</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum enim eu purus convallis, pellentesque commodo metus accumsan. Mauris tincidunt metus eget felis condimentum suscipit. Proin sodales erat et augue sodales, eu suscipit lacus blandit. Quisque suscipit nisi nec neque mollis varius. Phasellus maximus turpis eget consectetur ornare. Nulla faucibus venenatis congue. Donec lobortis, enim non sodales pharetra, enim libero pulvinar risus, sed pretium nisl est quis nisl. Vivamus a hendrerit massa. Etiam a consectetur sapien.
                </p>
                <a href="https://github.com/JoaoVitorChaves-05/projeto-bolsa/tree/backend" target="_blank" rel="noopener noreferrer">
                    Click here to open a backend on the new tab
                </a><br>
                <a href="https://github.com/JoaoVitorChaves-05/projeto-bolsa/tree/frontend" target="_blank" rel="noopener noreferrer">
                    Click here to open a frontend on the new tab
                </a>
            </div>
        </div>
    </section>
    <script src="./scripts/index.js"></script>
</body>
</html>